
#trainings{
    background-image: url("/hero-background.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-top: -10vh;
    padding: 20vh 0vh;
    text-align: center;
    h1{
        font-family: "Inria Serif", serif;
        color: #454545;
        font-weight: 700;
        font-size: 7vh;
    }
    p{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        opacity: 0.7;
        margin-bottom: 5vh;
    }
    .services-list {
        font-family: "Inter", sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5vh;
        text-align: left;
    
        .service-card {
            width: 300px;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.35);
            box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.35);
            .icon{
                background-color: #E4BD3D;
                border-radius: 50px;
                padding: 15px;  
                font-size: 1.5rem;
                margin-bottom: 10vh;
            }
            h3 {
                font-weight: 700;
                margin-top: 7vh;
                margin-bottom: 5px;
            }
            p {
                font-weight: 700;
                opacity: 0.7;
            }
        }
    }
}

