@media (max-width: 1250px) {
    * {
        overflow-x: hidden;
    }

    #hero {
        .hero-gradient {
            margin-bottom: -20px;
        }

        .hero-description {
            margin: 2vh 30vh;
        }

        #hero-card {
            margin: 0vh 30vh;
        }
    }

    #about {
        .about-me {
            margin: 0vh 20vh;

            * img {
                display: none;
            }
        }
    }

    .bottom {
        gap: 90vh;
    }

}

@media (max-width: 1000px) {
    * {
        overflow-x: hidden;
    }
    /*hero*/

    #hero {
        padding-top: 0vh;
        h1 {
            font-size: 10vh;
        }

        .hero-gradient {
            margin-bottom: -20px;
        }
    
        .hero-description{
            margin: 2vh 20vh;
        }
    
        #hero-card{
            margin: 0vh 20vh;
            h2{
                font-size: 5vh;
            }
            .card-subset{
                flex-wrap: wrap ;
                div{
                    width: 200px;
                }
            }
        }
    }
    
    /*about*/

    #about{
        padding-bottom: 10vh;
        h1{
            font-family: "Inria Serif", serif;
            font-weight: 700;
            font-size: 5vh;
        }
        .about-description{
            margin: 0vh 20vh;
        }
        .about-me{
            margin: 0vh 20vh;
        }
    }
    
    /*services*/

    #services {
        margin: 5vh 10vh 0vh 10vh;
        padding-bottom: 10vh;
    }

    /*footer*/

    footer{
        padding: 5vh 5vh 0vh 5vh;
    }
    
    .newsletter{
        padding-bottom: 5vh;
        h3{
            font-size: 1.25rem;
        }
        p{
            font-size: 0.75rem;
        }
        input{
            padding: 5px 10px;
            width: 20vh;
            margin-right: 10px;
            font-size: 0.75rem;
        }
        button{
            width: 10vh;
            text-align: center;
            font-size: 0.75rem;
        }
    }
    
    .content{
        display: flex;
        justify-content: flex-start;
        gap: 10vh;
    }
    
    .bottom{
        gap: 50vh; 
        padding-bottom: 1vh;
    }
}